/* ----------------SELECTEUR GENERAL------------------------ */
*{
    font-family: "Playwrite DE Grund", cursive;
    font-style: normal;
    scroll-behavior: smooth;
}

body{
    width: 100%;
}

h1{
    font-weight: bold;
    text-align: center;
    margin: 30px auto;
    padding-left: 15px;
    border-right: 5px solid rgb(228, 192, 9); 
    border-bottom: 5px solid rgb(228, 192, 9) ;
    width: 400px;
    margin-top: 40px;
    border-radius: 10px;
    text-transform: uppercase;
}

h1:hover{
    background-color:  rgba(228, 191, 9, 0.337);
}

a{
    text-decoration: none;
    color: black;
}
/* -------------------NAVIGATION------------------------------ */

.sticky-top{
    background-color: rgb(243, 243, 149);
}

.nav-link{
    color: black;
}

.nav-link:hover{
    background-color:rgba(228, 191, 9, 0.638);
    color: black;
    font-weight: bold;
}


/* ----------------SECTION ACCUEIL------------------------ */

#accueil{
    background-image:url(/images/ai-generated-8214773_1280.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 780px;
}

.welcome{
    font-size: 50px;
    font-weight: bold;
    width: 500px;
    color: rgb(255, 255, 255);
}

.btn{
    background-color: rgb(243, 243, 149);
    font-weight: bold;
    
}

.btn:hover{
    background-color: rgb(203, 203, 131);
    color: white;
}

/* ----------------SECTION MENU------------------------ */

#menu{
    margin-top: 70px;
}

#menu .container .h1 a h1 {
    width: 350px;
}
.food{
    margin-right: 5px;
    margin-bottom: 10px;
    position: relative;
    width: 320px;
}

h5{
    background-color: rgba(255, 254, 254, 0.5);
    text-align: right;
    font-weight: bolder;
    font-size: 15px;
    position: absolute;
    padding: 5px;
    top: 69%;
    width: 300px; 
    color: rgb(0, 0, 0)
}

.para{
    margin-top: 5px;
}
/* ----------------SECTION A PROPOS------------------------ */

#apropos .container .h1 a h1{
    width: 500px;
    margin-bottom: 50px;
}
#apropos{
    margin-top: 70px;
}

.ctn{
    padding: 20px;
}

#propos2 p{
    text-align: justify;
    margin-top: 50px;
}
/* ----------------SECTION CONTACT------------------------ */
#contacts h1{
    width: 480px;
}

#contact{
    background-color:rgba(230, 190, 31, 0.219) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;
 }
 
.formera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
}
 
 .textform input, textarea{
    width: 300px;
    margin-bottom: 30px;
    height: 30px;
    border-radius: 3px ;
 }

 label{
    font-weight: bold;
 }

 #contact p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
 }
 .btnc{
    background-color: rgb(230, 190, 31);
    border: rgb(230, 190, 31);
    border-radius: 3px;
 }
 
 .btnc:hover{
    background-color: rgba(102, 75, 12, 0.654);
    color: white;
 }

/* ----------------MON FOOTER------------------------ */

.foot{
    flex-direction: column;
}

#footer{
    background-image: url(/images/back-cont.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;

}

.foot1 a{
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
    color: rgb(228, 192, 9);
}

.foot2 p{
    margin-top: 200px;
    color: white;
}

.foot2 a img{
    background-color:white; 
    border-radius: 20%;
    width: 30px;
    margin-top: 50px;
    margin-left: 50px;
}

.foot1 a{
    margin-left: 50px;
    background-color: rgba(255, 247, 133,);
}

/* ----------------------------MEDIA QUERIES-------------------------- */



/*  Extra Small devices */
@media (max-width: 576px) 
    {
        body{
            width: 100%;
        }
        .logo{
            display: none;
        }

        .menu{
            justify-content: center;
        }

        .welcome{
            font-size: 30px;
            width: 300px;
        }

        #apropos .container .h1 a h1{
            width: 350px;
            margin-bottom: 50px;
        }
        
        #contacts h1{
            width: 330px;
        }

        #menu .container .h1 a h1 {
            width: 250px;
        }

        #propos1 img{
            width: 392px;
        }

        #contact p{

        }
    }

/* small devices (landscapes phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) 
    {
        .menu{
            justify-content: center;
        }

        .textform input, textarea{
            width: 400px;
            height: 35px;
            border-radius: 3px ;
        }

        .welcome{
            font-size: 40px;
            width: 400px;
        }

        #apropos .container .h1 a h1{
            width: 390px;
            margin-bottom: 50px;
        }
        
        #contacts h1{
            width: 350px;
        }

        #menu .container .h1 a h1 {
            width: 280px;
        }

        .nav{
            margin: 10px auto;
        }
        
    }

/* medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px)  
    { 
        .menu{
            justify-content: center;
        }

        .row #propos1 img{
            margin-top: 90px;
            width: 300px;
        }

        .textform input, textarea{
            width: 400px;
            margin-bottom: 30px;
            height: 35px;
            border-radius: 3px;
        }

        #apropos .container .h1 a h1{
            width: 420px;
            margin-bottom: 50px;
        }
        
        #contacts h1{
            width: 380px;
        }

        #menu .container .h1 a h1 {
            width: 290px;
        }

    }


/* X-Large devices (large desktops, 992px and up) */
@media(min-width: 992px) and (max-width: 1200px)  
    { 
        .btn{
            display: none;
        }

        .menu{
            justify-content: center;
        }
        .row #propos1 img{
            margin-top: 20px;
            width: 400px;
        }

        .textform input, textarea{
            width: 400px;
            margin-bottom: 30px;
            height: 35px;
            border-radius: 3px ;
        }

        #apropos .container .h1 a h1{
            width: 460px;
            margin-bottom: 50px;
        }
        
        #contacts h1{
            width: 420px;
        }

        #menu .container .h1 a h1 {
            width: 310px;
        }
    }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1200px) 
    { 
        .menu{
            justify-content: center;
        }

        .textform input, textarea{
            width: 400px;
            margin-bottom: 30px;
            height: 35px;
            border-radius: 3px ;
        }

        #apropos .container .h1 a h1{
            width: 450px;
            margin-bottom: 50px;
        }
        
        #contacts h1{
            width: 435px;
        }

        #menu .container .h1 a h1 {
            width: 320px;
        }
    }




